footer {
    background-color: $color-arriere-plan;
    height: 200px;
    margin-top: 30px;

    & .containerFooter {
        display: flex;
        flex-direction: column;
        height: 80%;
        padding: 25px 0px;

        & img {
            display: block;
            margin: auto;
            height: 50%;
        }

        & p {
            color: $color-text-on-bg;
            text-align: center;
        }
    }

}